.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
  text-align: justify;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.about .link--icon:hover {
  color: var(--clr-primary);
  transform: scale(1.1);
}
.about .btn--outline {
  margin-right: 1em;
  transition: transform 0.3s ease-in-out;
}
.about .btn--outline:hover {
  transform: translateY(-3px);
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
